<!-- Sidebar Toggle Button -->
<button class="sidebar-toggle" (click)="toggleSidebar()">
    <div class="hamburger" [class.active]="sidebarOpen">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </button>
  
  <!-- Sidebar -->
  <div class="sidebar" [class.open]="sidebarOpen">
    <div class="sidebar-header">
      <div class="logo">Artista</div>
      <button class="close-btn" (click)="toggleSidebar()">x</button>
    </div>
    
    <div class="sidebar-content">
      <nav class="sidebar-nav">
        <a href="" class="nav-item" (click)="navigateTo('')">Home</a>
        <a *ngIf="isLoggedIn" href="/profile" class="nav-item" >Profile</a>
        <a *ngIf="!isLoggedIn" href="/owner" class="nav-item" >Providers</a>
        <a *ngIf="!isLoggedIn"  href="/register" class="nav-item" >Register</a>
        <a *ngIf="userRole === 'ROLE_ADMIN'" href="/dashboard" class="nav-item" >Dashboard</a>
        <a *ngIf="userRole === 'ROLE_PROVIDER' || userRole=== 'ROLE_CLIENT'" href="/blog" class="nav-item" routerLinkActive="active">Blog</a>
        <a *ngIf="userRole === 'ROLE_PROVIDER' || userRole=== 'ROLE_CLIENT'" href="" class="nav-item" >Booking</a>
        <a *ngIf="userRole === 'ROLE_PROVIDER'" href="/studio" class="nav-item" >studio</a>
        <a *ngIf="userRole === 'ROLE_PROVIDER'" href="equipment" class="nav-item" >equipment</a>
        <a href="/about-us" class="nav-item" >About us</a>
        <a href="/contact" class="nav-item" >Contact us</a>
      </nav>
      
      <div class="sidebar-footer">
        <div class="social-links">
          <a href="#" class="social-link">FB</a>
          <a href="#" class="social-link">IG</a>
          <a href="#" class="social-link">TW</a>
        </div>
        <div class="contact-info">
          <p>hello&#64;artista.com</p>
          <p>(555) 123-4567</p>
        </div>
      </div>
      <button *ngIf="isLoggedIn" class="logout-btn" (click)="logout()">Logout</button>
    </div>
  </div>
  
  <!-- Overlay -->
  <div class="sidebar-overlay" [class.active]="sidebarOpen" (click)="toggleSidebar()"></div>